<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">BlogLite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link {{ homeactive }}" href="{{url_for('home')}}">Home</a>
        <a class="nav-link {{ searchactive }}" href="{{ url_for('search') }}">Search</a>
        <a class="nav-link {{ profileactive }}" href="{{ url_for('get_user', id='sayan') }}">Profile</a>
        <a class="nav-link {{ profileactive }}" href="{{ url_for('login') }}">Login</a>
        <a class="nav-link {{ profileactive }}" href="{{ url_for('register') }}">Register</a>
      </div>
    </div>
  </div>
</nav>