<div class="card my-3 text-center" style="width: clamp(15rem, 100%, 50rem)">
    {% if posts %}
    <a href="{{url_for('view_post', id=post.id)}}">
    {% endif %}

    {% if post.image %}
    <div class="card-image">
        <img src="{{url_for('static', filename=post.image)}}" alt="image" class="card-img-top">
    </div>
    {% endif %}
    
    <div class="card-body">
        <h2 class="card-title">{{post.title}}</h2>
        <p class="card-text">{{post.caption|safe}}</p>
    </div>
    <div class="card-footer text-muted">
        <a href="{{url_for('profile', username=post.author)}}">@{{post.author.username}}</a>
        at {{post.time}}
    </div>
    {% if posts %}
    </a>
    {% endif %}
</div>


{% block style %}
    <style>
        .card a{
            text-decoration: none;
            color: inherit;
        }
        .card-footer > a{
            color: var(--bs-blue);
        }
        .card-footer > a:hover{
            text-decoration: underline;
        }
        .card-img-top{
            height: clamp(100px, 150px, 200px);
            width: auto;
            aspect-ratio: 1/1;
        }
    </style>
{% endblock %}