{% extends "layout.html" %}

{% block title %}
    Post Details - Bloglite
{% endblock %}

{% block content %}
    <a href="{{url_for('home')}}" class="btn btn-outline-dark">&lt; Back</a>
    <h1 class="display-1">Post Details</h1>
    <hr/>
    <div class="cards d-flex align-items-center flex-column">
        {% include "post/card.html" %}
    </div>
    <h2>Score: {{post.score}}</h2>
    {% if liked %}
        <a href="{{url_for('vote_post', id=post.id, score=1)}}" class="btn btn-success">
            <i class="fas fa-thumbs-up"></i> Liked
    {% else %}
        <a href="{{url_for('vote_post', id=post.id, score=1)}}" class="btn btn-outline-success">
            <i class="fas fa-thumbs-up"></i> Like
    {% endif %}
    </a>
    
    {% if disliked %}
        <a href="{{url_for('vote_post', id=post.id, score=0)}}" class="btn btn-danger">
            <i class="fas fa-thumbs-down"></i> Disliked
    {% else %}
        <a href="{{url_for('vote_post', id=post.id, score=0)}}" class="btn btn-outline-danger">
            <i class="fas fa-thumbs-down"></i> Dislike
    {% endif %}
    </a>

    {% if post.author == current_user %}
        <a href="{{url_for('edit_post', id=post.id)}}" class="btn btn-outline-dark"><i class="fas fa-pencil"></i> Edit</a>
        <a href="{{url_for('delete_post', id=post.id)}}" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Delete</a>
    {% endif %}
    <div class="comments">
        <h2>Comments:</h2>
        <form action="{{url_for('add_comment', id=post.id)}}" method="post" 
        class="d-flex align-items-center flex-row mb-5">
            {{ form.hidden_tag() }}
            <div style="width: clamp(20rem, 90%, 80rem)">
                {{ form.content(class="form-control", placeholder="Type your comment here...") }}
            </div> 
            {{ form.submit(class="btn btn-primary ms-2", style="width: clamp(5rem, 10%, 10rem)") }}
        </form>    
        {% if post.comments %}
            <div class="comment-box cards">
                {% for comment in post.comments %}
                    {% include "comment/card.html" %}
                {% endfor %}
            </div>
        {% else %}
            <h3>No comments yet</h3>
        {% endif %}
    </div>
{% endblock content %}

{% block style %}
<style>

</style>
{% endblock %}

{% block script %}
{% endblock %}
