{% extends "layout.html" %}

{% block title %}
    Post Details - Bloglite
{% endblock %}

{% block content %}
    <a href="javascript:history.back()" class="btn btn-outline-dark">&lt; Back</a>
    <h1 class="display-1">Post Details</h1>
    <hr/>
    <div class="cards d-flex align-items-center flex-column">
        {% include "post/card.html" %}
    </div>
    {% if post.author == current_user %}
        <a href="{{url_for('edit_post', id=post.id)}}" class="btn btn-outline-dark"><i class="fas fa-pencil"></i> Edit</a>
        <a href="{{url_for('delete_post', id=post.id)}}" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Delete</a>
    {% endif %}
    <div class="comments">
        <h2>Comments:</h2>
        <h3>No comments yet</h3>
    </div>
{% endblock content %}

{% block style %}
<style>

</style>
{% endblock %}

{% block script %}
{% endblock %}
