{% extends "layout.html" %}

{% block title %}
    Post Details - Bloglite
{% endblock %}

{% block content %}
    <a href="javascript:history.back()" class="btn btn-outline-dark">&lt; Back</a>
    <h1 class="display-1">Post Details</h1>
    <hr/>
    <div class="cards d-flex align-items-center flex-column">
        <div class="card my-3 text-center" style="width: clamp(15rem, 100%, 100%)">
            <div class="card-image"><img src="{{post.image}}" alt="image" class="card-img-top"></div>
            <div class="card-body">
                <h2 class="card-title">{{post.title}}</h2>
                <p class="card-text">{{post.caption}}</p>
            </div>
            <div class="card-footer text-muted">by @{{post.author}} at {{post.time}}</div>
        </div>
    </div>    
    <div class="comments">
        <h2>Comments:</h2>
        <h3>No comments yet</h3>
    </div>
{% endblock content %}

{% block style %}
<style>

</style>
{% endblock %}

{% block script %}
{% endblock %}
