{% extends "layout.html" %}

{% block title %}
    Delete @{{user.username}} Account - Bloglite
{% endblock %}

{% block content %}
    <h1 class="display-1">Delete @{{user.username}} Account</h1>
    <h1>Confirm Details:</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>Name</th>
                <th>About</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.fname}} {{user.lname}}</td>
                <td>{{user.about}}</td>
            </tr>
        </tbody>
    </table>
    <hr/>
    <form action="" method="post">
        <input type="checkbox" name="sure" id="sure" required class="form-check-input">
        <label for="sure" class="form-check-label">Are you sure?</label>
        <br>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>    

    
{% endblock content %}