{% extends "layout.html" %}

{% block title %}
    Login - Bloglite
{% endblock %}

{% block content %}
<h1 class="display-1">BlogLite Login</h1>
    <h1>Enter credentials:</h1>
    <hr/>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        
        {{ form.password.label(class="form-label") }}
        
        <div class="password-box d-flex flex-row">
            {{ form.password(class="form-control me-2", id="password") }}
            <input type="checkbox" class="btn-check" id="showpass">
            <label class="btn" for="showpass">
                <i class="fas fa-eye" id="eye"></i>
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="remember" id="remember" name="remember">
            <label class="form-check-label" for="remember">
              Remember Me
            </label>
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    
{% endblock content %}


{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block script %}
    <script src="{{url_for('static', filename='js/toggle-password-eye.js')}}"></script>
{% endblock %}