{% extends "layout.html" %}

{% block title %}
    Register - Bloglite
{% endblock %}

{% block content %}
    <h1 class="display-1">BlogLite Register</h1>
    <h1>Create New User:</h1>
    <hr/>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}

        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}

        {{ form.fname.label(class="form-label") }}
        {{ form.fname(class="form-control") }}

        {{ form.lname.label(class="form-label") }}
        {{ form.lname(class="form-control") }}

        {{ form.about.label(class="form-label") }}
        {{ form.about(class="form-control") }}
        <br>
        {{ form.submit(class="btn btn-primary", value="Register") }}
    </form>    

{% endblock content %}